@import '../iconfont/iconfont.css';

.editor {
  width: 100%;
  height: 100%;
  position: relative;



  &-left,
  &-right {
    position: absolute;
    width: 270px;
    top: 55px;
    bottom: 0;
  }

  &-left {
    left: 0;
    border-right: 1px solid #dcdfe6;

    &-item {
      width: 250px;
      min-height: 100px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      border: 1px solid #dcdfe6;
      position: relative;

      >span {
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(96, 255, 224);
        color: #fff;
        padding: 4px;
        font-size: 12px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
      }
    }
  }

  &-right {
    right: 0;
    border-left: 1px solid #dcdfe6;
  }

  &-top {
    position: absolute;
    right: 0;
    left: 0;
    height: 55px;
    border-bottom: 1px solid #dcdfe6;
    display: flex;
    align-items: center;
    justify-content: center;

    [class*='icon-'] {
      font-size: 24px;
      cursor: pointer;
    }
  }

  &-container {
    padding: 55px 270px 0;
    height: 100%;
    box-sizing: border-box;

    &-canvas {
      overflow: scroll;
      height: 100%;

      &_content {
        margin: 20px auto;
        border: 1px solid red;
        position: relative;
      }
    }
  }

  &-block {
    position: absolute;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
    }

    &-focus {
      &::after {
        content: '';
        border: 2px dashed red;
      }
    }
  }
}

// 移动left值
.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed red;
}

// 移动top值
.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed red;
}